/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/10/2014, 09:28:48
    Author     : noali
*/

.title{
    background: beige;
    
}

#contact_wrapper { 
    background: url('../img/SwiftII.jpg') no-repeat fixed center;
}
#contact_wrapperII { 
    background: #668EB8 no-repeat fixed center;
}

.links{
    size: A4 portrait;
}

#registration_wrapper{
    background: url('../img/jeepIII.jpg');
}

#small{
   width: 70px;
}

.myTable{
	background-color: #009999;
	color: blue;
	border:3px solid navy;
}

.myTable:hover{
	background-color: #FF0000;
	color: red;
}

#headline{
  
  color: #CF0000;  
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/10/2014, 09:28:48
    Author     : noali
*/

.title{
    background: beige;
    
}

#contact_wrapper { 
    background: url('../img/SwiftII.jpg') no-repeat fixed center;
}
#contact_wrapperII { 
    background: #668EB8 no-repeat fixed center;
}

.links{
    size: A4 portrait;
}

#registration_wrapper{
    background: url('../img/jeepIII.jpg');
}

#small{
   width: 70px;
}

.myTable{
	background-color: #009999;
	color: blue;
	border:3px solid navy;
}

.myTable:hover{
	background-color: #FF0000;
	color: red;
}

#headline{
  
  color: #CF0000;  
}